/* RESET */
*{
    font-family: 'Montserrat', sans-serif;
}
.centered-parent
{
    position: relative;

    height: 100vh;
}
.centered-child
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
/* HEADLINE */

.headline h1
{
    font-size: 2.5rem;

    text-align: center;

    color: #6200ea;
}
.headline p
{
    font-size: 1rem;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: center;

    color: #6200ea;
}

/* ICONS */
.icons i
{
    color: #6200ea;
}
.icons i:hover
{
    color: #282828;
}
.icons
{
    font-size: 2rem;

    text-align: center;
}

/* RESPONSIVE */

@media only screen and (min-width: 655px) {
    .headline h1
    {
        font-size: 4rem;
    }
    .headline p
    {
        font-size: 1.5rem;
    }
}