/* RESET */
*
{
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;
}
.centered-parent
{
    position: relative;

    height: 100vh;

    background: #4776e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4776e6 , #8e54e9); /* Chrome 10-25, Safari 5.1-6 */
    background:         linear-gradient(to left, #4776e6 , #8e54e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.centered-child
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
/* HEADLINE */

.headline h1
{
    font-size: 2.5rem;

    text-align: center;

    color: #fff;
}
.headline p
{
    font-size: 1rem;
    font-weight: 300;
    line-height: 2.5rem;

    text-align: center;

    color: #fff;
}

/* ICONS */
.icons
{
    font-size: 2rem;

    margin-top: 20px;

    text-align: center;
}
.icons i
{
    -webkit-transition: color .25s ease-in-out;
       -moz-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;

    color: #fff;
}
.icons i:hover
{
    color: #282828;
}

/* RESPONSIVE */

@media only screen and (min-width: 655px)
{
    .headline h1
    {
        font-size: 4rem;
    }
    .headline p
    {
        font-size: 1.5rem;
    }
}
