/***********************************
############## RESET ###############
***********************************/
*,
*:before,
*:after{
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

    line-height: 1.5;
    letter-spacing: 0;

    box-sizing: border-box;
    -moz-boxx-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1 { font-size: 2em; font-weight: 700; }
h2 { font-size: 1.5em; font-weight: 400; }
h3 { font-size: 1.5em; font-weight: 300; }
p { margin-bottom: 15px; }
b, strong { font-weight: bold; }
mark { background: transparent; }
ul { list-style: none; }
img { max-width: 100%; border: none; vertical-align: middle; }
small { font-size: .75px; color: #EEE; }
a { text-decoration: none; color: #01d1ff; transition: all .2s linear; }
a:hover { color: #333; }
a img { border: 0; }

/***********************************
############## MEDIA ###############
***********************************/
object,
video,
iframe,
iframe['style'] { max-width: 100%; height: auto; }

/***********************************
############## MEDIA ###############
***********************************/
.container { width: 100%; float: left; }
.content { float: left; width: 80%; margin: 0 10%; padding: 20px 0; }
.content-page { padding: 60px 0; }
.sectiontitle { float: left; width: 100%; margin-bottom: 30px; text-align: center; }
.sectiontitle h1 { font-size: 2.4em; font-weight: 300; margin-bottom: 10px; }
.sectiontitle h2 { font-size: 1.4em; font-weight: 300; }
.sectiontitle-nomargin { margin: 0 !important; }

/***********************************
########### FONT WEIGHT ############
***********************************/
.font-light{ font-weight: 300 !important; }
.font-normal{ font-weight: 400 !important; }
.font-bold{ font-weight: 700 !important; }

/***********************************
############ FONT SIZE #############
***********************************/
.fontzero { font-size: 0; }
.font1 { font-size: 1em;}
.font1b { font-size: 1.3em; }
.font2 { font-size: 2em; }
.font2b { font-size: 2.5em; }
.font3 { font-size: 3em; }
.font3b { font-size: 3.5em; }
.font4 { font-size: 4em; }
.font4b { font-size: 4.5em; }

/***********************************
############# HELPERS ##############
***********************************/
.txt-shadow { text-shadow: 0 1px 1px rgba(0,0,0,0.5); }
.shadow {
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
        -webkit-box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
            -moz-box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
                -o-box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}
.radius { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
.last { margin-right: 0; }
.clear { clear: both; }
.upper { text-transform: uppercase; }
.hide { display: none; }

/***********************************
########### FONT ALIGN #############
***********************************/
.txt-left { text-align: left; }
.txt-right { text-align: right; }
.txt-center { text-align: center; }

/***********************************
############## FLOAT ###############
***********************************/
.ft-left { float: left; }
.ft-right { float: right; }
.ft-none { float: none; }

/***********************************
############# DISPLAY ##############
***********************************/
.block { display: block; }
.inline { display: inline; }
.inblock { display: inline-block; }

/***********************************
############### BOX ################
***********************************/
.box{ display: inline-block; width: 100%; vertical-align: top; }
.box:before{ clear: both; }
.box1{ width: 100%; margin: 15px 0 15px 0; }
.box2{ width: 49%; margin: 1% 2% 1% 0; float: left; }
.box2:nth-of-type(2n+0){ margin-right: 0; }
.box3{ width: 32%; margin: 1% 2% 1% 0; float: left; }
.box3:nth-of-type(3n+0){ margin-right: 0; }
.box4{ width: 23.5%; margin: 1% 2% 1% 0; float: left; }
.box4:nth-of-type(4n+0){ margin-right: 0; }
.box5{ width: 18.4%; margin: 1% 2% 1% 0; float: left; }
.box5:nth-of-type(5n+0){ margin-right: 0; }

/***********************************
############## BOTÃ•ES ##############
***********************************/
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    background: #333;
    border: 1px solid #222;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear;

    font-size: 1em;
    color: #fff;
}
.btn-large { font-size: 1.2em; padding: 10px 25px; }
.btn-main { background-color: #01d1ff; border-color: #01d1ff; color: #FFFFFF; box-shadow: 10px 10px 10px 0 rgba(0,0,0,.1); }
.btn-main:hover { background-color: #01d1ff; box-shadow: 0 0 0 0 rgba(0,0,0,.1); color: #FFFFFF; }

/***********************************
########## MEDIA QUERIES ###########
***********************************/
@media (max-width: 34em){
    .box2,
    .box3,
    .box4,
    .box5{ width: 100%; margin: 15px 0 15px 0 !important; }
}

@media (min-width: 34em) and (max-width: 48em){
    .box2,
    .box3,
    .box4,
    .box5{ width: 49%; margin: 1% 2% 1% 0 !important; }
    .box2:nth-of-type(2n+0),
    .box3:nth-of-type(2n+0),
    .box4:nth-of-type(2n+0),
    .box5:nth-of-type(2n+0){ margin-right: 0 !important; }
}

@media (min-width: 48em) and (max-width: 64em){
    .box3,
    .box4,
    .box5{ width: 32%; margin: 1% 2% 1% 0 !important; }
    .box3:nth-of-type(3n+0),
    .box4:nth-of-type(3n+0),
    .box5:nth-of-type(3n+0){ margin-right: 0 !important; }
}

@media(max-width: 60em){
    .box_bar,
    .box_side{width: 100%; padding: 0;}
}

@media (min-width: 64em) and (max-width: 80em){
    .box4,
    .box5{ width: 23.5%; margin: 1% 2% 1% 0 !important; }
    .box4:nth-of-type(4n+0),
    .box5:nth-of-type(4n+0){ margin-right: 0 !important; }
}